.container{
    border: 2px solid rgb(128, 41, 0);
}
.col{
    border: 2px solid black;
}
#col1{
    
    background-color: palevioletred;
}

#col2{
    /* border: 2px solid black; */
    background-color: purple;
}
#col3{
    /* border: 2px solid black; */
    background-color: yellowgreen;
}
#col4{
    /* border: 2px solid black; */
    background-color: rgb(19, 77, 16);
}