.container{
    border: 2px solid black;
} 
.row{
    border: 2px solid blue;
}
.red{
    border: 2px solid black;
}
.green{
    border: 2px solid black;
}
.blue{
    border: 2px solid black;
}
.yellow{
    border: 2px solid black;
}
